<!-- Main navigation -->
<header>
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar default-color-dark" [ngClass]="{'navbar-transparent': currentRouteIndex}">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>TMsystem</strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let link of mainLinks" class="nav-item waves-light">
          <a routerLink="{{link.handle}}" class="nav-link waves-light white-text" mdbWavesEffect>{{link.title}}</a>
        </li>
        <li *ngIf="isLogged" class="nav-item waves-light dropdown" mdbDropdown>
          <a class="nav-link dropdown-toggle waves-effect waves-light" mdbDropdownToggle>
            System
          </a>
          <div class="dropdown-menu dropdown-primary">
            <a *ngFor="let link of systemLinks" class="dropdown-item waves-effect waves-light" routerLink="{{link.handle}}">{{link.title}}</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown" mdbDropdown>
          <a class="nav-link dropdown-toggle waves-effect waves-light" mdbDropdownToggle>
            <i class="fa fa-user"></i> {{userName}}
          </a>
          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item waves-effect waves-light" routerLink="{{userLink.handle}}">{{userLink.title}}</a>
            <a *ngIf="isLogged" class="dropdown-item waves-effect waves-light" (click)="onLogout()">Logout</a>
          </div>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>
<!-- Main navigation -->
