<div class="btn-group">
<button type="button" mdbBtn class="default-color-dark waves-light" rounded="true" data-toggle="modal" data-target="#addTask"
        (click)="frame.show()" mdbWavesEffect>Add task
</button>
</div>
<div mdbModal #frame="mdbModal" class="modal fade top" id="addTaskModal" tabindex="-1" role="dialog"
     aria-labelledby="addTaskModalLabel"
     (closed)="onClosed($event)"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header default-color-dark white-text text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add New Task</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span class="white-text" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addTaskForm" class="p-5 modal-form" (submit)="onSubmit()">
                    <div class="input-group md-form mb-5">
                        <input type="text"
                               id="task-title"
                               formControlName="taskTitle"
                               class="form-control validate"
                               [errorMessage]="validationMessages.titleError"
                               [validateSuccess]="false"
                               mdbInputDirective>
                        <label for="task-title">Task Title</label>
                    </div>

                    <div class="md-form mb-5">
            <textarea
                    id="task-description"
                    formControlName="taskDescription"
                    class="form-control validate md-textarea md-textarea-auto"
                    [errorMessage]="validationMessages.descriptionError"
                    [validateSuccess]="false"
                    mdbInputDirective>
            </textarea>
                        <label for="task-description">Task Description</label>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="input-group md-form col-12 col-sm-5">
                            <input type="number"
                                   id="task-estimate"
                                   formControlName="estimationHr"
                                   placeholder="hr"
                                   value="0"
                                   step="1"
                                   pattern="\d+"
                                   min="0"
                                   class="form-control validate col-6 mr-1  p-0 text-center"
                                   [errorMessage]="validationMessages.timeError"
                                   [validateSuccess]="false"
                                   mdbInputDirective>
                            <input type="number"
                                   id="task-estimate-min"
                                   formControlName="estimationMin"
                                   placeholder="min"
                                   value="0"
                                   step="1"
                                   pattern="\d+"
                                   min="0"
                                   max="59"
                                   class="form-control validate col-6 p-0 text-center"
                                   [errorMessage]="validationMessages.timeError"
                                   [validateSuccess]="false"
                                   mdbInputDirective>
                            <label for="task-estimate" class="mx-3">Estimation (hr/min)</label>
                        </div>
                        <div class="input-group md-form col-12 col-sm-5">
                            <input type="number"
                                   id="task-tracked"
                                   formControlName="trackedHr"
                                   placeholder="hr"
                                   value="0"
                                   step="1"
                                   pattern="\d+"
                                   min="0"
                                   class="form-control validate col-6 mr-1"
                                   [errorMessage]="validationMessages.timeError"
                                   [validateSuccess]="false"
                                   mdbInputDirective>
                            <input type="number"
                                   id="task-tracked-min"
                                   formControlName="trackedMin"
                                   placeholder="min"
                                   value="0"
                                   step="1"
                                   pattern="\d+"
                                   min="0"
                                   max="59"
                                   class="form-control validate col-6"
                                   [errorMessage]="validationMessages.timeError"
                                   [validateSuccess]="false"
                                   mdbInputDirective>
                            <label for="task-tracked" class="mx-3">Tracked (hr/min)</label>
                        </div>
                    </div>

                    <div class="form-group mb-5"
                         [ngClass]="{'form-error': addTaskForm.get('userId').invalid && addTaskForm.get('userId').touched}">
                        <ng-select [searchable]="false" formControlName="userId" placeholder="Select User">
                            <ng-option *ngFor="let user of userList"
                                       [value]="user.id">{{user.firstName + ' ' + user.lastName}}</ng-option>
                        </ng-select>
                        <span class="field-error"
                              *ngIf="addTaskForm.get('userId').invalid && addTaskForm.get('userId').touched">Please choose User</span>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button mdbBtn class="waves-light default-color-dark" mdbWavesEffect
                                [disabled]="addTaskForm.invalid">Add task
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
