
<div mdbModal #viewTask="mdbModal" class="modal fade top" id="viewTaskModal" tabindex="-1" role="dialog"
     aria-labelledby="viewTaskModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header default-color-dark white-text text-center">
        <h4 class="modal-title w-100 font-weight-bold">View Task</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="viewTask.hide()">
          <span class="white-text" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="viewTaskForm" class="p-5" (submit)="onSubmit()">
          <div class="input-group md-form mb-5">
            <input type="text"
                   id="view-task-title"
                   formControlName="taskTitle"
                   class="form-control validate"
                   [validateSuccess]="false"
                   [errorMessage]="validationMessages.titleError"
                   mdbInputDirective>
            <label for="view-task-title">Task Title</label>
          </div>

          <div class="md-form mb-5">
            <textarea
                    id="view-task-description"
                    formControlName="taskDescription"
                    class="form-control validate md-textarea md-textarea-auto"
                    [validateSuccess]="false"
                    [errorMessage]="validationMessages.descriptionError"
                    mdbInputDirective>
            </textarea>
            <label for="view-task-description">Task Description</label>
          </div>
          <div class="row d-flex justify-content-between">
            <div class="input-group md-form col-12 col-sm-5">
              <input type="number"
                     id="view-task-estimate"
                     formControlName="estimationHr"
                     placeholder="hr"
                     value="0"
                     step="1"
                     pattern="\d+"
                     min="0"
                     class="form-control validate col-6 mr-1  p-0 text-center"
                     [errorMessage]="validationMessages.titleError"
                     [validateSuccess]="false"
                     mdbInputDirective>
              <input type="number"
                     id="view-task-estimate-min"
                     formControlName="estimationMin"
                     placeholder="min"
                     value="0"
                     step="1"
                     pattern="\d+"
                     min="0"
                     max="59"
                     class="form-control validate col-6 p-0 text-center"
                     [errorMessage]="validationMessages.titleError"
                     [validateSuccess]="false"
                     mdbInputDirective>
              <label for="view-task-estimate" class="mx-3">Estimation (hr/min)</label>
            </div>
            <div class="input-group md-form col-12 col-sm-5">
              <input type="number"
                     id="view-task-tracked"
                     formControlName="trackedHr"
                     placeholder="hr"
                     value="0"
                     step="1"
                     pattern="\d+"
                     min="0"
                     class="form-control validate col-6 mr-1"
                     [errorMessage]="validationMessages.titleError"
                     [validateSuccess]="false"
                     mdbInputDirective>
              <input type="number"
                     id="view-task-tracked-min"
                     formControlName="trackedMin"
                     placeholder="min"
                     value="0"
                     step="1"
                     pattern="\d+"
                     min="0"
                     max="59"
                     class="form-control validate col-6"
                     [errorMessage]="validationMessages.titleError"
                     [validateSuccess]="false"
                     mdbInputDirective>
              <label for="view-task-tracked" class="mx-3">Tracked (hr/min)</label>
            </div>
          </div>
          <div class="form-group mb-5 d-none" [ngClass]="{'form-error': viewTaskForm.get('userId').invalid && viewTaskForm.get('userId').touched}">
            <ng-select [searchable]="false" formControlName="userId" placeholder="Select User">
              <ng-option *ngFor="let user of userList" [value]="user.id">{{user.firstName + ' ' + user.lastName}}</ng-option>
            </ng-select>
            <span class="field-error" *ngIf="viewTaskForm.get('userId').invalid && viewTaskForm.get('userId').touched">User</span>
          </div>

          <div class="d-flex justify-content-center">
            <button mdbBtn color="info" class="waves-light" mdbWavesEffect [disabled]="viewTaskForm.invalid">Save</button>
            <div mdbBtn color="danger" class="waves-light" mdbWavesEffect (click)="viewTask.hide()">Cancel</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
