<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-cascade narrower">

                <mdb-card-header
                        class="default-color p-3">
                    <div class="text-center"><h3 class="white-text mx-3 text-center text-uppercase font-weight-bold">All
                        tasks</h3></div>
                    <div class="d-flex justify-content-between align-items-center">

                        <div class="d-flex">
                            <div class="m-0">
                                <input type="text"
                                       class="form-control border-0 filter-form"
                                       id="filter"
                                       [placeholder]="searchPlaceholder"
                                       [(ngModel)]="searchValue">
                            </div>
                            <div class="btn-group ml-1" mdbDropdown>
                                <button type="button"
                                        class="dropdown-toggle default-color-dark waves-light px-1"
                                        rounded="true"
                                        mdbBtn
                                        mdbDropdownToggle
                                        mdbWavesEffect>Search by
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" (click)="changeCriteria('firstName')">First Name</a>
                                    <a class="dropdown-item" (click)="changeCriteria('lastName')">Last Name</a>
                                    <a class="dropdown-item" (click)="changeCriteria('email')">Email</a>
                                    <a class="dropdown-item" (click)="changeCriteria('user')">User</a>
                                    <a class="dropdown-item" (click)="changeCriteria('status')">Status</a>
                                    <a class="dropdown-item" (click)="changeCriteria('progress')">Progress</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </mdb-card-header>


                <div class="">

                    <div class="table-responsive">

                        <table class="table table-hover table-w-auto m-0" mdbTable>

                            <thead>
                            <tr>
                                <th class="th-lg">
                                    <a (click)="sortBy('firstName')">First Name
                                        <mdb-icon icon="sort" class="ml-1"></mdb-icon>
                                    </a>
                                </th>
                                <th class="th-lg">
                                    <a (click)="sortBy('lastName')">Last Name
                                        <mdb-icon icon="sort" class="ml-1"></mdb-icon>
                                    </a>
                                </th>
                                <th class="th-lg">
                                    <a (click)="sortBy('email')">Email
                                        <mdb-icon icon="sort" class="ml-1"></mdb-icon>
                                    </a>
                                </th>
                                <th class="th-lg text-center">
                                    <a (click)="sortBy('tasks')">Assigned tasks
                                        <mdb-icon icon="sort" class="ml-1"></mdb-icon>
                                    </a>
                                </th>
                                <th class="th-lg text-center">Manage
                                </th>
                            </tr>
                            </thead>

                            <tbody class="table-body-scroll">
                            <tr *ngFor="let row of userList | listFilter:searchValue:searchField;let i = index">
                                <td>{{row.firstName}}</td>
                                <td>{{row.lastName}}</td>
                                <td>{{row.email}}</td>
                                <td class="text-center">{{getTasksCount(row.email)}}</td>
                                <td class="text-center">
                                    <span class="table-remove">
                                        <button type="button"
                                                mdbBtn
                                                color="danger"
                                                floating="true"
                                                rounded="true"
                                                outline="false"
                                                size="sm"
                                                class="btn-floating my-0"
                                                (click)="remove(row)">
                                          <mdb-icon icon="trash"></mdb-icon>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-edit-task #editTask (onTaskEdit)="editedTask($event)"></app-edit-task>